body{
    background-color: rgb(0, 0, 0);
}
.flex{
    display: flex;
    width: 900px;
    /* padding: 8px; */
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    
}
img{
    width: 100%;
    opacity: 0.50;
}
.box{
    background-color: rgb(244, 192, 180);
    
    
    position: relative;
    padding: 20px;
    margin: 8px;
    width: 800px;
}
.bt1{
    background-color: gray;
    border-radius: 6px;
    border-color: black;
}
.box:hover{
    background-color: brown;
}
img:hover{
    opacity: 1;
}